* {
    font-family: "Open Sans", sans-serif;
    color: #333333;
}

html,
body {
    height: 100%;
}

body {
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h2 {
    font-weight: bold;
}

code {
    color: darkgreen;
}

.jumbotron {
    text-align: center;
}

footer {
    background-color: #1d1d1d;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-shrink: 0;
}

@media screen and (max-width: 767px) {
    html {
        font-size: 0.8rem;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 1rem;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    html {
        font-size: 1.3rem;
    }
}
@media screen and (min-width: 1200px) {
    html {
        font-size: 1.6rem;
    }
}
