<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>St0nks</title>
</head>
<body>
    <main>
        <div class="jumbotron">
            <div class="container">
                <h2>Stock market</h2>
                <h1>{{status}}</h1>
                <h2>as</h2>
                <h1>{{headline}}</h1>
            </div>
        </div>
        <div class="container">
            <h3>How?</h3>
            <p>This website was made with <b>advanced AI</b>, including</p>
            <p><code>random.choice(STATUS)</code></p>
            <p>and</p>
            <p><code>headline = random.choice(articles)['title'].upper()</code></p>

            <h3>Why?</h3>
            <p>Why not?</p>
        </div>
    </main>
    <footer class="page-footer text-center">
        St0nks | <a href="https://andiqu.com">Andi Qu</a> © 2020
    </footer>
</body>
</html>